@import url(components/container.css);
@import url(components/helpers.css);
@import url(components/typography.css);

:root {
  --dark-blue: #130c24;
  --primary: #f2d544;
  --black: #232020;
  --text-color: white;
  --gray: #999999;
}
