.btn {
  all: unset;
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.875rem;
  opacity: 0.8;
  transition: opacity 200ms, translate 200ms;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  translate: 1px 1px;
}
