#contact {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--gap);
}

#contact-address,
#contact-email {
  display: flex;
  gap: 10px;
}

#contact-address svg,
#contact-email svg {
  margin-top: 18px;
}

.hire-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
