.portfolio-piece {
  display: flex;
  gap: var(--gap);
  align-items: center;
  margin-bottom: 100px;
}

.portfolio-img {
  border-radius: 50%;
  width: clamp(175px, 25vw, 300px);
  height: auto;
}

.portfolio-piece:nth-child(odd) .portfolio-img {
  order: 1;
}

@media (max-width: 42.5rem) {
  .portfolio-piece {
    flex-direction: column;
    gap: calc(var(--gap) / 2);
    margin-bottom: 50px;
  }

  .portfolio-img {
    width: 175px;
    height: auto;
  }

  .portfolio-piece:nth-child(odd) .portfolio-img {
    order: 0;
  }
}
