.portfolio-piece {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: var(--gap);
}

.portfolio-img {
  border-radius: 50%;
}

@media (max-width: 37.5rem) {
  .portfolio-piece {
    grid-template-columns: 1fr;
  }
}
