#scroll-down {
  all: inherit;
  outline: revert;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

#scroll-down svg {
  fill: var(--dark-icon);
  transition: fill 300ms;
}

#scroll-down svg:hover {
  fill: var(--light-icon);
}

@keyframes bounce {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -15px;
  }
  100% {
    translate: 0 0;
  }
}
