#skills {
  padding-left: 0;
}

.skill {
  border: 1px solid var(--gray);
  outline: 1px solid transparent;
  display: inline-block;
  padding: 0.5em 1em;
  margin-block: 8px;
  margin-right: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  --skill-border-color: var(--gray);
}

.skill:hover {
  --skill-border-color: var(--primary);
  color: var(--skill-border-color);
  outline-color: var(--skill-border-color);
}

.skill::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border: 1px solid var(--skill-border-color);
  inset: -4px;
}
